.wsc_btn {
    position: fixed;
    right:20px;
    bottom:25px;
    background: #25D366;
    border-radius: 10px;
    color:#fff;
    padding:10px 14px;
    transition: .25s ease-in-out;
	display: flex;
    gap: 5px;
    align-items: center;
	z-index:9999999;
}

.wsc_btn:hover {
    transform: translateY(-10px);
    color:#fff;
    padding:10px 14px;
    box-shadow: 0 8px 12px #00000033;
}